src/eCH-0261-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Datum				Version				Autor
*********************************************
2023-10-20			Entwurf				Stl

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0261="http://www.ech.ch/xmlns/eCH-0261/1" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/3" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/8" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/9" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/6" xmlns:eCH-0108="http://www.ech.ch/xmlns/eCH-0108/7" targetNamespace="http://www.ech.ch/xmlns/eCH-0261/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Betriebs- und Unternehmensstammdaten</xs:documentation>
		<xs:documentation xml:lang="en">Site and Enterprise Master Data</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/6/eCH-0007-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0008/3/eCH-0008-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/8" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/8/eCH-0010-8-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/9" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/9/eCH-0011-9-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0046/6/eCH-0046-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0108/7" schemaLocation="./eCH-0108-7-0.xsd"/>
	<!--Hauptdatentypen-->
	<xs:complexType name="legalUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Rechtliche Einheit</xs:documentation>
			<xs:documentation xml:lang="en">Legal Unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">UID. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Unique Id of the legal Unit. See the referenced standard.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="eCH-0108:unitNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Name. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalName" type="eCH-0108:unitNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusatzname. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="translatedName" type="eCH-0108:unitNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Übersetzungen des Namens. Siehe den referenzierten Standard.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainAddress" type="eCH-0108:mainAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hauptadresse. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Main address). See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalLocationAddress" type="eCH-0108:additionalLocationAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusätzliche lokale Adresse. Siehe den referenzierten Standard.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Additional local address. See the referenced standard.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalPostOfficeBoxAddress" type="eCH-0108:additionalPostOfficeBoxAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusätzliche Postfach Adresse. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Additional PO box address. See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legalForm" type="eCH-0108:legalFormType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Rechtsform. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainUid" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">UID der rechtlichen Haupteinheit. Diese unterscheidet sich von der
                        UID, falls es sich bei der rechtlichen Einheit um eine Zweigniederlassung handelt. Handelt es
                        sich um die Haupteinheit selbst, ist die HauptUID identisch mit der UID
                    </xs:documentation>
					<xs:documentation xml:lang="en">
                        UID of the main LegalUnit. If the UIDs do not match, then this instance refers to a branch. If
                        the UIDs match, then an instance refers to a main LegalUnit.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">IDE de l'unité légale principale. Celui-ci est différent de l'IDE
                        lorsqu'il s'agit d'une succursale. S'il s'agit d'une unité légale principale, l'IDE et identique
                        à l'IDE de l'unité légale principale.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="eCH-0261:legalUnitStatusType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Status. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Das Anfangsdatum, ab dem eine auf dieser Definition basierende
                        Instanz in Kraft tritt. Dies ermöglicht die Historisierung und Versionierung.
                    </xs:documentation>
					<xs:documentation/>
					<xs:documentation xml:lang="fr">La date de début à partir de laquelle une instance basée sur cette
                        définition entre en vigueur. Cela permet l'historisation et le versioning.
                    </xs:documentation>
					<xs:documentation xml:lang="en">The beginning date as of which an instance based on this definition
                        enters into force. This enables an audit trail and versioning.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agriculturalAdditionToLegalUnit" type="eCH-0261:agriculturalAdditionToLegalUnitType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Agrarspezifische Merkmale der rechtlichen Einheit</xs:documentation>
					<xs:documentation xml:lang="fr">Caractéristiques spécifiques agricoles de l'unité légale
                    </xs:documentation>
					<xs:documentation xml:lang="en">Specific agricultural characteristics of the legal unit
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFromInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gültig ab (inklusiv)</xs:documentation>
					<xs:documentation xml:lang="fr">Valable à partir de (inclus)</xs:documentation>
					<xs:documentation xml:lang="en">Valid from, inclusive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agriculturalAdditionToLegalUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Agrarspezifische Merkmale der rechtlichen Einheit</xs:documentation>
			<xs:documentation xml:lang="fr">Caractéristiques spécifiques agricoles de l'unité légale</xs:documentation>
			<xs:documentation xml:lang="en">Specific agricultural characteristics of the legal unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parentLegalUnit" type="eCH-0108:uidType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Übergeordnete rechtliche Einheit. Es ist möglich, dass es mehrere
                        übergeordnete rechtliche Einheiten gibt. Dies kann z.B. bei Betriebszweiggemeinschaften und
                        ÖLN-Gemeinschaft der Fall sein.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Unité légale parente. Il peut y avoir plusieursunités légales
                        parentes (communauté partielle d'exploitation et communauté PER).
                    </xs:documentation>
					<xs:documentation xml:lang="en">Parent legal unit. There can be more than one parent legal unit,
                        e.g. as is the case with group farming branches and REP-communities.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personWithFunction" type="eCH-0261:personWithFunctionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Liste der Personen/PersonenFunktionen, die mit dieser Einheit verknüpft sind.</xs:documentation>
					<xs:documentation xml:lang="fr">Liste de personnes/Rôles associées à cette unité.</xs:documentation>
					<xs:documentation xml:lang="en">A list of person/personFunctions associated with this element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, an dem die Gültigkeit beginnt. Ermöglicht Historisierung und
                        Versionierung.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Date de début de validité. Permet l'historisation et le versionage
                    </xs:documentation>
					<xs:documentation xml:lang="en">Beginning date of validity, inclusive. This enables an audit trail
                        and versioning.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="localUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Örtliche Einheit. Siehe den referenzierten Standard.</xs:documentation>
			<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
			<xs:documentation xml:lang="en">Local Unit. See the referenced standard.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="localId" type="eCH-0108:localIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">BUR-Nummer. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">A unique identifier of a local unit. See the referenced standard.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legalUnitAffiliation" type="eCH-0108:uidType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zugehörigkeit zu einer rechtlichen Einheit: Verweis auf UID der
                        rechtlichen Einheit
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Affiliation to a legal unit via its unique identifier. See the
                        referenced standard.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="eCH-0108:unitNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Name. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Name. See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalName" type="eCH-0108:unitNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusatznamen. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Additional name. See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainAddress" type="eCH-0108:mainAddressType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hauptadresse. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Main address). See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalLocationAddress" type="eCH-0108:additionalLocationAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusätzliche lokale Adresse. Siehe den referenzierten Standard.                    </xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Additional local address. See the referenced standard.                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalPostOfficeBoxAddress" type="eCH-0108:additionalPostOfficeBoxAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zusätzliche Postfach Adresse. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">Additional PO box address. See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nogaCode" type="eCH-0108:nogaCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">NOGA-Code. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">NOGA-Code. Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">NOGA-Code. See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nogaVersion" type="eCH-0108:nogaVersionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">NOGA-Version. Zwingend, wenn ein NOGA-Code angegeben wird.</xs:documentation>
					<xs:documentation xml:lang="fr">NOGA-Version.</xs:documentation>
					<xs:documentation xml:lang="en">NOGA-Version.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="eCH-0261:localUnitStatusType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Status</xs:documentation>
					<xs:documentation xml:lang="fr">Statut</xs:documentation>
					<xs:documentation xml:lang="en">Status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Das Anfangsdatum, ab dem eine auf dieser Definition basierende Instanz in Kraft tritt. Dies ermöglicht die Historisierung und Versionierung.</xs:documentation>
					<xs:documentation xml:lang="fr">La date de début à partir de laquelle une instance basée sur cette définition entre en vigueur. Cela permet l'historisation et le versioning.</xs:documentation>
					<xs:documentation xml:lang="en">The beginning date as of which an instance based on this definition enters into force. This enables an audit trail and versioning.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agriculturalAdditionToLocalUnit" type="eCH-0261:agriculturalAdditionToLocalUnitType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Agrarspezifische Ergänzung der örtlichen Einheit</xs:documentation>
					<xs:documentation xml:lang="fr">Caractéristiques spécifiques agricoles de l'unité locale.
                    </xs:documentation>
					<xs:documentation xml:lang="en">Specific agricultural characteristics of the local unit
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agriculturalAdditionToLocalUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Agrarspezifische Merkmale der örtlichen Einheit</xs:documentation>
			<xs:documentation xml:lang="fr">Caractéristiques spécifiques agricoles de l'unité locale.</xs:documentation>
			<xs:documentation xml:lang="en">Specific agricultural characteristics of the local unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parentLocalId" type="eCH-0108:localIdType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Übergeordnete örtliche Einheiten</xs:documentation>
					<xs:documentation xml:lang="fr">Unité locale parente</xs:documentation>
					<xs:documentation xml:lang="en">Parent local unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="farmType" type="eCH-0261:farmTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betriebsform</xs:documentation>
					<xs:documentation xml:lang="fr">Forme d'exploitation</xs:documentation>
					<xs:documentation xml:lang="en">Form of agricultural development</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inspectionOrganisation" type="eCH-0108:uidType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Unternehmen, das für die Kontrollen verantwortlich ist
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Entreprise responsable des contrôles</xs:documentation>
					<xs:documentation xml:lang="en">Enterprise responsible for inspection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nprCertified" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">NPR-Zulassung (Zertifizierung auf der Grundlage des Programms zur
                        Reduzierung von Stickstoff und Phosphor)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Certification basée sur le programme de réduction de l'azote et des
                        phosphores
                    </xs:documentation>
					<xs:documentation xml:lang="en">Certification based on the nitrogen and phosporous reduction
                        programme.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agriculturalZone" type="eCH-0261:agriculturalZoneType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Landwirtschaftliche Zone der örtlichen Einheit. Gewichteter
                        Durchschnitt der landwirtschaftlichen Zonen der verschiedenen Kulturen.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Zone agricole de l'unité locale. Moyenne pondérée de la zone
                        agricole des différentes cultures.
                    </xs:documentation>
					<xs:documentation xml:lang="en">Weighted average of the agricultural area of the different crops.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agriculturalOversightAuthority" type="eCH-0261:agriculturalOversightAuthorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Siehe den referenzierten Typ.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir type référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personPersonFunction" type="eCH-0261:personWithFunctionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Person/Function</xs:documentation>
					<xs:documentation xml:lang="fr">Personne/Fonction</xs:documentation>
					<xs:documentation xml:lang="en">Person/personFunction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFromInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gültig ab (inklusiv)</xs:documentation>
					<xs:documentation xml:lang="fr">Valable à partir de (inclus)</xs:documentation>
					<xs:documentation xml:lang="en">Valid From, inclusive. This enables an audit trail and versioning.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agriculturalOversightAuthorityType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Kanton oder Land (im Falle Liechtenstein), der/das für diese
				örtliche Einheit für Agrarthemen zuständig ist. Dies kann vom Standortkanton der örtlichen
				Einheit abweichen.
			</xs:documentation>
			<xs:documentation xml:lang="fr">Canton ou pays (dans le cas du Liechtenstein) responsable de cette
				unité locale pour les questions agricoles. Celui-ci peut être différent du canton de
				localisation de l'unité locale.
			</xs:documentation>
			<xs:documentation xml:lang="en">Canton or country (in the case of Liechtenstein) with oversight
				responsibility for agricultural concerns for this local unit. May differ from the canton where
				the local unit is located.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="cantonalAuthority" type="eCH-0007:cantonAbbreviationType"/>
			<xs:element name="stateAuthority">
				<xs:simpleType>
					<xs:restriction base="eCH-0008:countryIdISO2Type">
						<xs:enumeration value="LI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="personIdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Personenidentifikator</xs:documentation>
			<xs:documentation xml:lang="en">A person identifier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="vn" type="eCH-0044:vnType"/>
				<xs:element name="eiam">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="uuid">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="email" type="eCH-0046:emailAddressType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Person</xs:documentation>
			<xs:documentation xml:lang="en">A natural person</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personIdentifier" type="eCH-0261:personIdentifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator der Person</xs:documentation>
					<xs:documentation xml:lang="fr">Identificateur de la personne</xs:documentation>
					<xs:documentation xml:lang="en">Identifier of the person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="eCH-0010:titleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Titel. Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="eCH-0010:firstNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Amtlicher Vorname.Siehe den referenzierten Standard.</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callName" type="eCH-0010:firstNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Rufname. Siehe den referenzierten Standard</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialName" type="eCH-0010:lastNameType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nachname. Siehe den referenzierten Standard</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferredCorrespondenceLanguage" type="eCH-0011:languageType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Korrespondenzsprache. Siehe den referenzierten Standard</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone" type="eCH-0046:phoneNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Telefon. Siehe den referenzierten Standard</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="eCH-0046:emailAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">E-Mail. Siehe den referenzierten Standard</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Geburtsdatum</xs:documentation>
					<xs:documentation xml:lang="fr">date de naissance</xs:documentation>
					<xs:documentation xml:lang="en">Date of birth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressForCorrespondence" type="eCH-0010:addressInformationType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Korrespondenzadresse</xs:documentation>
					<xs:documentation xml:lang="fr">Voir standard référencé.</xs:documentation>
					<xs:documentation xml:lang="en">See the referenced standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFromInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gültig ab (inklusiv)</xs:documentation>
					<xs:documentation xml:lang="fr">Valable à partir de (inclus)</xs:documentation>
					<xs:documentation xml:lang="en">Beginning date of validity, inclusive. This enables an audit trail
                        and versioning.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personWithFunctionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Person mit Funktion</xs:documentation>
			<xs:documentation xml:lang="de">Personne avec rôle associé</xs:documentation>
			<xs:documentation xml:lang="en">A person mapped to a role. The relationship of a person to a PersonFunction.
                This is useful for communications in which assignments are provided by or shared with systems other than
                one's own.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personIdentifier" type="eCH-0261:personIdentifierType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator der Person</xs:documentation>
					<xs:documentation xml:lang="fr">Identificateur de la personne</xs:documentation>
					<xs:documentation xml:lang="en">identifier of a person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personFunction" type="eCH-0261:personFunctionType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Funktionen der Person</xs:documentation>
					<xs:documentation xml:lang="fr">Fonctions de la personne</xs:documentation>
					<xs:documentation xml:lang="en">Functions of a person</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personFunctionType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Rolle einer Person</xs:documentation>
			<xs:documentation xml:lang="fr">Rôle d'une personne</xs:documentation>
			<xs:documentation xml:lang="en">The role of a person</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personFunction-Code">
				<xs:annotation>
					<xs:documentation xml:lang="de">Code der Rolle</xs:documentation>
					<xs:documentation xml:lang="fr">Code du rôle</xs:documentation>
					<xs:documentation xml:lang="en">Code of the role</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descriptor" type="eCH-0261:descriptorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung der Funktion</xs:documentation>
					<xs:documentation xml:lang="fr">Description de la rôle</xs:documentation>
					<xs:documentation xml:lang="en">Description of the role. See the referenced standard.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="freeformDesignation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Freitext Bezeichnung (falls ein Code vom Typ "Andere" gewählt
                        wurde)
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Désignation en texte libre (si un code de type "Autre" a été choisi)
                        a été utilisé)
                    </xs:documentation>
					<xs:documentation xml:lang="en">A freeform designation for usage should a pre-defined entry not
                        prove suitable. Use sparingly and only when using the code "Other".
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Gemeinsam genutzte Elemente-->
	<xs:complexType name="identifierType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ein weltweit eindeutiger Identifikator. Durch Angabe eines Systems oder einer Behörde kann die Eindeutigkeit der Kennung festgestellt werden. Je nach dem Kontext der Verwendung dieser Kennung kann es sich um einen Primär- oder Ersatzschlüssel in einem beliebigen System handeln. Verbrauchende Elemente können auf dieses Element mit einer Kardinalität größer als 1 verweisen, so dass eine Zuordnung zwischen technischen Speicher- und Herkunftssystemen oder Aufzeichnungssystemen möglich ist.</xs:documentation>
			<xs:documentation xml:lang="fr">Un identifiant unique au niveau mondial. L'unicité de l'identifiant peut être établie par l'indication d'un système ou d'une autorité. Selon le contexte de l'utilisation de cet identifiant, il peut s'agir d'une clé primaire ou de substitution dans n'importe quel système. Les éléments consommateurs peuvent se référer à cet élément avec une cardinalité supérieure à 1, ce qui permet d'établir une correspondance entre le stockage technique et les systèmes ou systèmes d'enregistrement d'origine.</xs:documentation>
			<xs:documentation xml:lang="en">A globally unique identifier. Via indication of a system or authority, the
                uniqueness of the id can be established. Depending on the context of the usage of this id, this can be a
                primary or surrogate key in any system. Mapping of identifiers is not part of the specification but can
                be provided by systems.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation xml:lang="de">Eine ID. Diese kann selbst eindeutige Attribute aufweisen, wie dies bei UIDs der Fall ist, aber dies ist nicht unbedingt erforderlich.</xs:documentation>
					<xs:documentation xml:lang="fr">Un identifiant. Il peut lui-même présenter des attributs uniques, comme c'est le cas avec les UID, mais ce n'est pas strictement nécessaire.</xs:documentation>
					<xs:documentation xml:lang="en">An id. This itself can exhibit unique characteristics, such as is the case with UUIDs or GUIDs, but this is not strictly required.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sourceSystemId" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ein zusätzlicher Qualifier für die Art der ID. Dies kann z. B. das System oder die Behörde sein, in dem/der sich das Datenelement befindet oder aus dem/der es stammt.</xs:documentation>
					<xs:documentation xml:lang="fr">Un qualificatif supplémentaire quant au type d'identification. Il peut s'agir, par exemple, du système ou de l'autorité où réside ou provient l'élément de données.</xs:documentation>
					<xs:documentation xml:lang="en">An additional qualifier as to the type of id. This can be, for instance, the system or authority where the data element resides or originates.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="descriptorType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ein Deskriptor, mit dem ein bestimmtes Element in einer Vielzahl von Standardsprachen beschrieben werden kann. Es wird empfohlen, aber nicht gefordert, dass die jeweiligen Bezeichnungen im konsumierenden System eindeutig sind.</xs:documentation>
			<xs:documentation xml:lang="fr">Un descripteur qui permet de décrire un élément spécifique dans une multiplicité de langages standard. Il est recommandé, mais pas obligatoire, que les désignations respectives soient uniques dans le système de consommation.</xs:documentation>
			<xs:documentation xml:lang="en">A descriptor that allows a specific element to be described in a multiplicity of supported languages. It is recommended but not required that the respective designations be unique in the consuming system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="designationDeu">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung auf Deutsch</xs:documentation>
					<xs:documentation xml:lang="fr">Decription en allemand</xs:documentation>
					<xs:documentation xml:lang="en">The designation in German</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="designationFra">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung auf Französisch</xs:documentation>
					<xs:documentation xml:lang="fr">Decription en français</xs:documentation>
					<xs:documentation xml:lang="en">The designation in French</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="designationIta">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung auf Italienisch</xs:documentation>
					<xs:documentation xml:lang="fr">Decription en italien</xs:documentation>
					<xs:documentation xml:lang="en">The designation in Italian</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="designationEng">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung auf Englisch</xs:documentation>
					<xs:documentation xml:lang="fr">Description en anglais</xs:documentation>
					<xs:documentation xml:lang="en">The designation in English</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="designationLat" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bezeichnung auf Latein</xs:documentation>
					<xs:documentation xml:lang="fr">Description en latin</xs:documentation>
					<xs:documentation xml:lang="en">The designation in Latin</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="explanation" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung der Bezeichnung</xs:documentation>
					<xs:documentation xml:lang="fr">Explication de cette description</xs:documentation>
					<xs:documentation xml:lang="en">The explanation of this descriptor, i. e. its usage.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="unitType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Einheit</xs:documentation>
			<xs:documentation xml:lang="en">The unit used. This is a limited subset derived from but not limited to SI.
                For simplicity, units composed of other units (ratios) are contained within this definition. For those
                cases in which a unit is not applicable but nevertheless required, an "n/a" entry is provided.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="kg">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kilogramm</xs:documentation>
					<xs:documentation xml:lang="fr">kilogramme</xs:documentation>
					<xs:documentation xml:lang="it">kilogrammo</xs:documentation>
					<xs:documentation xml:lang="en">kilogram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kubikmeter</xs:documentation>
					<xs:documentation xml:lang="fr">mètres cube</xs:documentation>
					<xs:documentation xml:lang="it">metri cubi</xs:documentation>
					<xs:documentation xml:lang="en">cubic metres</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pc">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stück</xs:documentation>
					<xs:documentation xml:lang="fr">pièce</xs:documentation>
					<xs:documentation xml:lang="it">pezzo</xs:documentation>
					<xs:documentation xml:lang="en">piece, a quantity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="°C">
				<xs:annotation>
					<xs:documentation xml:lang="de">Grad Celsius</xs:documentation>
					<xs:documentation xml:lang="fr">degré Celcius</xs:documentation>
					<xs:documentation xml:lang="it">grado Celcius</xs:documentation>
					<xs:documentation xml:lang="en">degree Celcius</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ρ">
				<xs:annotation>
					<xs:documentation xml:lang="de">Raumgewicht</xs:documentation>
					<xs:documentation xml:lang="fr">masse spécifique</xs:documentation>
					<xs:documentation xml:lang="it">massa specifica</xs:documentation>
					<xs:documentation xml:lang="en">Specific mass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="γ">
				<xs:annotation>
					<xs:documentation xml:lang="de">gamma</xs:documentation>
					<xs:documentation xml:lang="fr">gamma</xs:documentation>
					<xs:documentation xml:lang="it">gamma</xs:documentation>
					<xs:documentation xml:lang="en">gamma</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="µS">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mikro-Siemens</xs:documentation>
					<xs:documentation xml:lang="fr">micro siemens</xs:documentation>
					<xs:documentation xml:lang="it">micro siemens</xs:documentation>
					<xs:documentation xml:lang="en">micro siemens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="%">
				<xs:annotation>
					<xs:documentation xml:lang="de">Prozent</xs:documentation>
					<xs:documentation xml:lang="fr">pour cent</xs:documentation>
					<xs:documentation xml:lang="it">per cento</xs:documentation>
					<xs:documentation xml:lang="en">percent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kg/m3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kilogramm/Kubikmeter</xs:documentation>
					<xs:documentation xml:lang="fr">kilogramme/mètre cube</xs:documentation>
					<xs:documentation xml:lang="it">kilogrammo/metro cubo</xs:documentation>
					<xs:documentation xml:lang="en">kilogram/cubic metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kg/pc">
				<xs:annotation>
					<xs:documentation xml:lang="de">KiloGramm/Stück</xs:documentation>
					<xs:documentation xml:lang="fr">kilogramme/pièce</xs:documentation>
					<xs:documentation xml:lang="it">kilogrammo/litro</xs:documentation>
					<xs:documentation xml:lang="en">kilogram/litre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="n/a">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nicht zutreffend</xs:documentation>
					<xs:documentation xml:lang="fr">n'est pas applicable</xs:documentation>
					<xs:documentation xml:lang="it">non applicabile</xs:documentation>
					<xs:documentation xml:lang="en">Not applicable. Not all values have an associated unit but some
                        elements declare unit as required. Use this for those cases.
                    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="m2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Quadratmeter</xs:documentation>
					<xs:documentation xml:lang="fr">mètres carrés</xs:documentation>
					<xs:documentation xml:lang="it">metri quadrati</xs:documentation>
					<xs:documentation xml:lang="en">square metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kg/m2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gramm/Quadratmeter</xs:documentation>
					<xs:documentation xml:lang="fr">gramme/mètres carrés</xs:documentation>
					<xs:documentation xml:lang="it">grammo/metri quadrati</xs:documentation>
					<xs:documentation xml:lang="en">gram/square metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="l/m2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Liter/Quadratmeter</xs:documentation>
					<xs:documentation xml:lang="fr">litre/mètres carrés</xs:documentation>
					<xs:documentation xml:lang="it">litro/metri quadrati</xs:documentation>
					<xs:documentation xml:lang="en">litre/square metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pc/m2">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stück/Quadratmeter</xs:documentation>
					<xs:documentation xml:lang="fr">pièce/mètres carrés</xs:documentation>
					<xs:documentation xml:lang="it">pezzo/metri quadrati</xs:documentation>
					<xs:documentation xml:lang="en">piece/square metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="enumeratedItemType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Dieses Element ist für Listen beabsichtigt, die Identifikatoren und Deskriptoren beinhalten. Solche Listen können statischer oder dynamischer Natur sein.</xs:documentation>
			<xs:documentation xml:lang="fr">Cet élément est destiné aux listes contenant des identifiants et des descriptions. Ces listes peuvent être statiques ou dynamiques.</xs:documentation>
			<xs:documentation xml:lang="en">This element is useful for lists that encompass ids and descriptors only,
                and which are potentially duration-based. Such lists can either be static or dynamic in nature.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code">
				<xs:annotation>
					<xs:documentation xml:lang="de">Code (dieser muss nur innerhalb der Liste einddeutig sein).
                    </xs:documentation>
					<xs:documentation xml:lang="fr">Code (celui-ci doit être univoque uniquement à l'intérieur de la liste).
                    </xs:documentation>
					<xs:documentation xml:lang="en">An identifier. This must be unique within this list only.
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descriptor" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung (mehrsprachig)</xs:documentation>
					<xs:documentation xml:lang="fr">Description (multilingue)</xs:documentation>
					<xs:documentation xml:lang="en">Descriptor (multilingual)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFromInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anfangsdatum der Gültigkeit. Ermöglicht die Bestimmung, dass der jeweilige Eintrag ab einem bestimmten Datum verwendet werden darf.</xs:documentation>
					<xs:documentation xml:lang="fr">La date de début de cette définition, y compris. Cela permet d'annuler une définition ou de la retirer de la circulation à partir d'une certaine date.</xs:documentation>
					<xs:documentation xml:lang="en">The begin date of this definition, inclusive. This allows a definition to be entered into circulation as of a specific date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validToInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Enddatum der Gültigkeit. Ermöglicht das Ausserkraftsetzen eines
                        Eintrags. Falls ein Eintrag aus dem Verkehr genommen werden soll oder falls eine Mutation
                        vorgenommen wurde, kann er mit dem Datum, bis zu welchem er gültig war, versehen werden. Die
                        Liste bleibt so rückwärtskompatibel.
                    </xs:documentation>
					<xs:documentation xml:lang="fr">La date de fin de cette définition, inclusivement. Cela permet à une définition d'être retirée de la circulation active sans affecter l'usage précédent.</xs:documentation>
					<xs:documentation xml:lang="en">The end date of this definition, inclusive. This allows a definition to be removed from active circulation without affecting previous usage.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="legalUnitStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Status der rechtlichen Einheit</xs:documentation>
			<xs:documentation xml:lang="fr">Statut de l'unité légale</xs:documentation>
			<xs:documentation xml:lang="en">Status of a Legal Unit</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Aktiv</xs:documentation>
					<xs:documentation xml:lang="fr">Actif</xs:documentation>
					<xs:documentation xml:lang="it">Attivo</xs:documentation>
					<xs:documentation xml:lang="en">Active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gelöscht</xs:documentation>
					<xs:documentation xml:lang="fr">Radié</xs:documentation>
					<xs:documentation xml:lang="it">Radiato</xs:documentation>
					<xs:documentation xml:lang="en">Cessation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="localUnitStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Status der örtlichen Einheit</xs:documentation>
			<xs:documentation xml:lang="fr">Statut de l'unité locale</xs:documentation>
			<xs:documentation xml:lang="en">Status of a Local Unit</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="de">Aktiv</xs:documentation>
					<xs:documentation xml:lang="fr">Actif</xs:documentation>
					<xs:documentation xml:lang="it">Attivo</xs:documentation>
					<xs:documentation xml:lang="en">Active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gelöscht</xs:documentation>
					<xs:documentation xml:lang="fr">Radié</xs:documentation>
					<xs:documentation xml:lang="it">Radiato</xs:documentation>
					<xs:documentation xml:lang="en">Cessation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation xml:lang="de">Transferiert</xs:documentation>
					<xs:documentation xml:lang="fr">Transféré</xs:documentation>
					<xs:documentation xml:lang="it">Trasferito</xs:documentation>
					<xs:documentation xml:lang="en">Transferred</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="farmTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Die Kantone erkennen die landwirtschaftlichen Betriebe unter
                Berücksichtigung der in der Verordnung über landwirtschaftliche Begriffe und die Anerkennung von
                Betriebsformen festgelegten Kriterien an.
            </xs:documentation>
			<xs:documentation xml:lang="fr">Les cantons reconnaissent les exploitations agricoles en tenant compte des
                critères définis dans l'ordonnance sur la terminologie agricole et la reconnaissance des formes
                d'exploitation.
            </xs:documentation>
			<xs:documentation xml:lang="en">The cantons recognise agricultural holdings in accordance with the criteria
                defined in the Ordinance on Agricultural Terminology and the recognition of farm types
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ganzjahresbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation à l'année</xs:documentation>
					<xs:documentation xml:lang="it">Azienda gestita tutto l'anno</xs:documentation>
					<xs:documentation xml:lang="en">Farm year-round</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produktionsstätte</xs:documentation>
					<xs:documentation xml:lang="fr">Unité de production</xs:documentation>
					<xs:documentation xml:lang="it">Unità di produzione</xs:documentation>
					<xs:documentation xml:lang="en">Production facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gemeinschaftsweidebetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation de pâturage communautaire</xs:documentation>
					<xs:documentation xml:lang="it">Azienda con pascoli comunitari</xs:documentation>
					<xs:documentation xml:lang="en">Grazing community</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation xml:lang="de">Sömmerungsbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation d'estivage</xs:documentation>
					<xs:documentation xml:lang="it">Azienda d'estivazione</xs:documentation>
					<xs:documentation xml:lang="en">Summering</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betriebsgemeinschaft</xs:documentation>
					<xs:documentation xml:lang="fr">Communauté d'exploitation</xs:documentation>
					<xs:documentation xml:lang="it">Comunità aziendale</xs:documentation>
					<xs:documentation xml:lang="en">Group farming</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation xml:lang="de">Viehhandelsunternehmen</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation de marchand de bétail</xs:documentation>
					<xs:documentation xml:lang="it">Azienda che commercia bestiame</xs:documentation>
					<xs:documentation xml:lang="en">Cattle trade</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wanderherde</xs:documentation>
					<xs:documentation xml:lang="fr">Troupeau en transhumance</xs:documentation>
					<xs:documentation xml:lang="it">Mandria transumante</xs:documentation>
					<xs:documentation xml:lang="en">Transhumance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tierklinik</xs:documentation>
					<xs:documentation xml:lang="fr">Clinique vétérinaire</xs:documentation>
					<xs:documentation xml:lang="it">Clinica veterinaria</xs:documentation>
					<xs:documentation xml:lang="en">Animal clinic</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation xml:lang="de">Schlachtbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Abattoir</xs:documentation>
					<xs:documentation xml:lang="it">Macello</xs:documentation>
					<xs:documentation xml:lang="en">Slaugtherhouse</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation xml:lang="de">Viehmärkte</xs:documentation>
					<xs:documentation xml:lang="fr">Marché de bétail</xs:documentation>
					<xs:documentation xml:lang="it">Mercato di bestiame</xs:documentation>
					<xs:documentation xml:lang="en">Cattle market</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betriebszweiggemeinschaft</xs:documentation>
					<xs:documentation xml:lang="fr">Communauté partielle d'exploitation</xs:documentation>
					<xs:documentation xml:lang="it">Comunità aziendale settoriale</xs:documentation>
					<xs:documentation xml:lang="en">Group farming branch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nichtkommerzielle Tierhaltung</xs:documentation>
					<xs:documentation xml:lang="fr">Unité d'élevage non commerciale</xs:documentation>
					<xs:documentation xml:lang="it">Animali tenuti a scopo non commerciale</xs:documentation>
					<xs:documentation xml:lang="en">Noncommerical cattle breeding</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation xml:lang="de">ÖLN-Gemeinschaft</xs:documentation>
					<xs:documentation xml:lang="fr">Communauté PER</xs:documentation>
					<xs:documentation xml:lang="it">Comunità PER</xs:documentation>
					<xs:documentation xml:lang="en">REP-Community</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation xml:lang="de">Vergärungs- und Kompostierungsanlage</xs:documentation>
					<xs:documentation xml:lang="fr">Installation de méthanisation et de compostage</xs:documentation>
					<xs:documentation xml:lang="it">Impianti di fermentazione e di compostaggio</xs:documentation>
					<xs:documentation xml:lang="en">Fermentation and composting plants</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tierhaltung</xs:documentation>
					<xs:documentation xml:lang="fr">Unité d'élevage</xs:documentation>
					<xs:documentation xml:lang="it">Unità detentrice di animali</xs:documentation>
					<xs:documentation xml:lang="en">Breeding unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nicht zugeteilt</xs:documentation>
					<xs:documentation xml:lang="fr">Non attribué</xs:documentation>
					<xs:documentation xml:lang="it">Non classificato</xs:documentation>
					<xs:documentation xml:lang="en">Not assigned</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="agriculturalZoneType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Durch die Unterteilung der landwirtschaftlichen Flächen in Zonen können die
                schwierigen Produktionsbedingungen berücksichtigt werden.
            </xs:documentation>
			<xs:documentation xml:lang="fr">La subdivision des surfaces agricoles en zones permet de prendre en compte
                la difficulté des conditions de production.
            </xs:documentation>
			<xs:documentation xml:lang="en">A subdivision of agricultural areas into zones reflecting production
                conditions based on arduousness.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="31">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ganzjahresbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation à l'année</xs:documentation>
					<xs:documentation xml:lang="it">Azienda gestita tutto l'anno</xs:documentation>
					<xs:documentation xml:lang="en">Farm all-the-year</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produktionsstätte</xs:documentation>
					<xs:documentation xml:lang="fr">Unité de production</xs:documentation>
					<xs:documentation xml:lang="it">Unità di produzione</xs:documentation>
					<xs:documentation xml:lang="en">Production facility</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="51">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hirtenbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation de pâturage</xs:documentation>
					<xs:documentation xml:lang="it">Azienda pastorizia</xs:documentation>
					<xs:documentation xml:lang="en">Sheperd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="52">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gemeinschaftsweidebetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation de pâturage communautaire</xs:documentation>
					<xs:documentation xml:lang="it">Azienda con pascoli comunitari</xs:documentation>
					<xs:documentation xml:lang="en">Grazing community</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation xml:lang="de">Sömmerungsbetrieb</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation d'estivage</xs:documentation>
					<xs:documentation xml:lang="it">Azienda d'estivazione</xs:documentation>
					<xs:documentation xml:lang="en">Summering</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation xml:lang="de">Betriebsgemeinschaft</xs:documentation>
					<xs:documentation xml:lang="fr">Communauté d'exploitation</xs:documentation>
					<xs:documentation xml:lang="it">Comunità aziendale</xs:documentation>
					<xs:documentation xml:lang="en">Group farming</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="61">
				<xs:annotation>
					<xs:documentation xml:lang="de">Bestand</xs:documentation>
					<xs:documentation xml:lang="fr">Troupeau</xs:documentation>
					<xs:documentation xml:lang="it">Effettivo</xs:documentation>
					<xs:documentation xml:lang="en">Herd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="77">
				<xs:annotation>
					<xs:documentation xml:lang="de">Viehhandelsunternehmen</xs:documentation>
					<xs:documentation xml:lang="fr">Exploitation de marchand de bétail</xs:documentation>
					<xs:documentation xml:lang="it">Azienda che commercia bestiame</xs:documentation>
					<xs:documentation xml:lang="en">Cattle trade</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="79">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wanderherde</xs:documentation>
					<xs:documentation xml:lang="fr">Troupeau en transhumance</xs:documentation>
					<xs:documentation xml:lang="it">Mandria transumante</xs:documentation>
					<xs:documentation xml:lang="en">Transhumance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--Root-Element-->
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rootElement" type="eCH-0261:legalUnitType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
